@import"./variables";

.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.birthday{
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    transform: translateY(35rem) scale(0.4);
    transition: all 1.0s;
    transition-delay: 0.7s;
}

.present{
    height: auto;
    width: auto;
    margin-top: 10rem;
}

.present-cap{
    height: 20rem;
    z-index: 5;          /*-11rem*/
    transform: translate(50%, -10rem) rotate(0deg) scale(1);
    transition: all 1.0s;
    position: relative;
}

.present-bottom{
    height: 14rem;
    z-index: 4;
    transform: translateX(-50%);
    position: relative;
}


.message{
    height: 8rem;
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(lightprimary);
    border-radius: 10px;
    /*border: 1px solid black;*/
    box-shadow: 3px 5px 7px black;
    margin-top: -5rem;
}

.message-text{
    font-size: 4rem;
    margin: 0;
}

.arrow{
    height: 12rem;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 1.5s;
    transition-delay: 3.0s;
}

.birthday-pop{
    transform: translateY(0rem) scale(1);
}

.present-open{
    transform: translate(0rem, -9rem) rotate(-125deg) scale(0.8);
}

.fadeIn{
    opacity: 1;
}


/*@keyframes present-open{
    0%{
        transform: translate(50%, -11rem) rotate(0deg) scale(1);
    }
    50%{
        transform: translate(6rem, -14rem) rotate(-90deg) scale(0.8);
    }
    100%{
        transform: translate(-1rem, -4rem) rotate(-150deg) scale(0.8);
    }
}*/