@import"./variables";

.love{
    margin-top: 4rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.love-title{
    text-align: center;
    font-size: 9rem;
    margin: 0;
    color: color(secondary);
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 5px 6px black;
}

.heart{
    height: 25rem;
    animation-name: heartbeat;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    //margin-bottom: 5rem;
}

@keyframes heartbeat{ //25rem
    from{transform: translateY(-4rem) scale(1);}
    to{transform: translateY(-4rem) scale(1.9);}
}