@import"./variables";

.memories{
    height: 130vh;
}

.memories-title{
    text-align: center;
    font-size: 10rem;
    margin: 0;
    color: color(secondary);
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 5px black;
}

.memories-sub{
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.gallery{
    position: relative;
    height: 90vh;
    border: 3px solid black;
}

.photo{
    border: 2rem color(lightprimary) solid;
    margin: 0;
    box-shadow: 3px 3px 4px black;
    position: absolute;
}

#uno-one{
    height: 15rem;
    top: 6rem;
    left: 2rem;
    z-index: -1;
    transform: rotate(-20deg);
}

#table-pose{
    height: 18rem;
    top: 3rem;
    left: 23rem;
    transform: rotate(-4deg);
}

#outside-max{
    height: 20rem;
    top: 5rem;
    left: 46rem;
    transform: rotate(15deg);
}

#gpts-card{
    height: 19rem;
    top: 22rem;
    left: 5rem;
    transform: rotate(12deg);
    z-index: 2;
}

#young-kate{
    height: 16rem;
    top: 25rem;
    left: 22rem;
}

#house-pose{
    height: 17rem;
    top: 25rem;
    left: 43rem;
    transform: rotate(-11deg);
    z-index: -1;
}

#table-mom{
    height: 17rem;
    top: 42rem;
    left: 3rem;
    transform: rotate(-16deg);
}

#fifty-pose{
    height: 20rem;
    top: 41rem;
    left: 26rem;
    transform: rotate(5deg);
}

#kiss{
    height: 18rem;
    top: 42rem;
    left: 40rem;
    z-index: -2;
    transform: rotate(10deg);
}

#toast{
    height: 21rem;
    top: 59rem;
    left: 3rem;
    transform: rotate(14deg);
}

#old-kate{
    height: 16rem;
    top: 62rem;
    left: 17rem;
    z-index: -1;
}

#table-uno{
    height: 17rem;
    top: 61rem;
    left: 34rem;
    z-index: -2;
    transform: rotate(-9deg);
}

#xmas{
    height: 17rem;
    top: 61rem;
    left: 55rem;
    transform: rotate(8deg);
}