@import"./variables";

.memories{
    height: 130vh;
}

.memories-title{
    text-align: center;
    font-size: 10rem;
    margin: 0;
    color: color(secondary);
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 5px black;
}

.memories-sub{
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.gallery{
    position: relative;
    height: 100vh;
    border: 3px solid black;
}

.photo{
    border: 2rem color(lightprimary) solid;
    margin: 0;
    box-shadow: 3px 3px 4px black;
}

#uno-one{
    height: 15rem;
}

#table-pose{
    height: 18rem;
}

#outside-max{
    height: 20rem;
}

#gpts-card{
    height: 19rem;
}

#young-kate{
    height: 16rem;
}

#house-pose{
    height: 17rem;
}

#table-mom{
    height: 17rem;
}

#fifty-pose{
    height: 20rem;
}

#kiss{
    height: 18rem;
}

#toast{
    height: 21rem;
}

#old-kate{
    height: 16rem;
}

#table-uno{
    height: 17rem;
}

#xmas{
    height: 15rem;
}