@import"./variables";

.memories{
    height: 100vh;
}

.memories-title{
    text-align: center;
    font-size: 10rem;
    margin: 0;
    color: color(secondary);
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 5px black;
}

.memories-sub{
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.gallery{
    position: relative;
    height: 75vh;
    border: 3px solid black;
}

.photo{
    border: 2rem color(lightprimary) solid;
}

#uno-one{
    height: 15rem;
}

#table-pose{
    height: 18rem;
}

#outside-max{
    height: 20rem;
}