@import"./variables";

.slides{
    height: 100vh;
}

.title{
    font-size: 6rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.traits{
    margin-top: 2rem;
    height: 60vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trait{
    font-size: 6rem;
    color: color(secondary);
    margin: 0;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 2px black;
    transition: all 1.0s;
}

.left{
    transform: translateX(-50vw);
}

.middle{
    align-self: center;
}

.right{
    align-self: flex-end;
    transform: translateX(50vw);
}

.slide{
    transform: translateX(0vw);
}