@import"./variables";
@import"./intro";
@import"./slides";
@import"./cards";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: color(primary);
}





