.intro {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.birthday {
  font-size: 7rem;
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  -webkit-transform: translateY(35rem) scale(0.2);
          transform: translateY(35rem) scale(0.2);
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  position: relative;
  z-index: 3;
}

.present {
  height: auto;
  width: auto;
  margin-top: 10rem;
}

.present-cap {
  height: 20rem;
  z-index: 5;
  /*-11rem*/
  -webkit-transform: translate(50%, -10rem) rotate(0deg) scale(1);
          transform: translate(50%, -10rem) rotate(0deg) scale(1);
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
  position: relative;
}

.present-bottom {
  height: 14rem;
  z-index: 4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}

.message {
  height: 7rem;
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FCBF49;
  border-radius: 10px;
  /*border: 1px solid black;*/
  -webkit-box-shadow: 3px 5px 7px black;
          box-shadow: 3px 5px 7px black;
  margin-top: -5rem;
}

.message-text {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.arrow {
  height: 12rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transition-delay: 3.0s;
          transition-delay: 3.0s;
}

.birthday-pop {
  -webkit-transform: translateY(0rem) scale(1);
          transform: translateY(0rem) scale(1);
}

.present-open {
  -webkit-transform: translate(0rem, -9rem) rotate(-125deg) scale(0.8);
          transform: translate(0rem, -9rem) rotate(-125deg) scale(0.8);
}

.fadeIn {
  opacity: 1;
}

/*@keyframes present-open{
    0%{
        transform: translate(50%, -11rem) rotate(0deg) scale(1);
    }
    50%{
        transform: translate(6rem, -14rem) rotate(-90deg) scale(0.8);
    }
    100%{
        transform: translate(-1rem, -4rem) rotate(-150deg) scale(0.8);
    }
}*/
.slides {
  height: 120vh;
  overflow: hidden;
}

.slides-title {
  font-size: 6rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.traits {
  margin-top: 2rem;
  height: 100vh;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trait {
  font-size: 9rem;
  color: #E71D36;
  margin: 0;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 2px black;
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}

.left-trait {
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
}

.middle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 8rem;
}

.right-trait {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
}

.left-slide {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  margin-left: 2rem;
}

.right-slide {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  margin-right: 2rem;
}

.cards {
  height: 115vh;
}

.cards-title {
  font-size: 5rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.card-section {
  height: 100vh;
  margin-top: 2rem;
  border: 3px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  height: 28rem;
  width: 28rem;
  position: relative;
}

.card-side {
  height: 28rem;
  width: 28rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 7px 6px 5px black;
          box-shadow: 7px 6px 5px black;
  border: 2px solid black;
  border-radius: 50%;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  text-align: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-card {
  margin-left: 5rem;
}

.right-card {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5rem;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.card-side-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-side-back {
  background-color: #FCBF49;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-side-back p {
  margin: 0;
}

.card:hover .card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.dad .card-side-front {
  background-image: url(../media/gpa-dad.jpg);
}

.dad .card-side-back p {
  height: 17rem;
  width: 27rem;
}

.kate .card-side-front {
  background-image: url(../media/gpa-kate.jpg);
}

.kate .card-side-back p {
  height: 15rem;
  width: 23rem;
  font-size: 1.5rem;
}

.mom .card-side-front {
  background-image: url(../media/gpa-mom.jpg);
}

.mom .card-side-back p {
  height: 17rem;
  width: 27rem;
}

.michael .card-side-front {
  background-image: url(../media/gpa-mike.jpg);
}

.michael .card-side-back p {
  height: 19rem;
  width: 24rem;
  font-size: 1.4rem;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FF9F1C;
}
/*# sourceMappingURL=style.css.map */